Repository corail-research/SeaPearl.jl, pull requests merged in 2022-05, with the labels that each got.

#224 Added instance generator for KEP
  src/datagen/datagen.jl
  src/datagen/kidneyexchange.jl
Labels: generator

#214 Optimization of the CP solver
  src/CP/core/cpmodification.jl
  src/CP/core/fixPoint.jl
  src/CP/core/model.jl
  src/CP/core/search/dfs.jl
  src/CP/core/search/ilds.jl
  src/CP/core/search/rbs.jl
  src/CP/core/search/search.jl
  src/CP/core/utils/stopwatch.jl
  src/CP/variableselection/mindomain.jl
  src/trailer.jl
  test/CP/core/model.jl
  test/CP/variableselection/failureBased.jl
Labels: constraint programming

#223 Enable imitation learning
  Project.toml
  src/CP/valueselection/learning/learnedheuristic.jl
  src/CP/valueselection/learning/learning.jl
  src/CP/valueselection/learning/simplelearnedheuristic.jl
  src/CP/valueselection/learning/supervisedlearnedheuristic.jl
  src/experiment/launch_experiment.jl
  test/CP/core/search/dfs.jl
  test/CP/core/search/ilds.jl
  test/CP/core/search/rbs.jl
  test/CP/valueselection/learning/learnedheuristic.jl
  test/CP/valueselection/learning/learning.jl
  test/CP/valueselection/learning/rewards/CPReward.jl
  test/CP/valueselection/learning/rewards/defaultreward.jl
  test/CP/valueselection/learning/rewards/rewards.jl
  test/CP/valueselection/learning/rewards/tsptwreward.jl
  test/CP/valueselection/learning/supervisedlearnedheuristic.jl
  test/CP/valueselection/learning/utils.jl
  test/experiment/basicmetrics.jl
  test/experiment/training.jl
Labels: reinforcement learning, heuristic

#228 Small improvement in the way the `helpSolution` is retrieved in `SupervisedLearnedHeuristic`
  src/CP/valueselection/learning/supervisedlearnedheuristic.jl
  test/CP/valueselection/learning/supervisedlearnedheuristic.jl
Labels: enhancement, heuristic

#226 Creating a general reward encouraging a smart exploration of the tree
  src/CP/core/model.jl
  src/CP/core/search/dfs.jl
  src/CP/valueselection/learning/rewards/generalreward.jl
  src/CP/valueselection/learning/rewards/rewards.jl
  src/RL/nn_structures/cpnn.jl
  src/experiment/metrics/basicmetrics.jl
  test/CP/valueselection/learning/rewards/generalreward.jl
  test/CP/valueselection/learning/rewards/rewards.jl
Labels: reward, reinforcement learning
